* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #f5f5f5;
    --font-color: #333333;

    --card-bg-color: #ffffff; 
    --card-price-color: #2ecc71;
    --card-category-font-color: #7f8c8d;
    --card-raiting-color: #f39c12;

    --gap: 1.5rem;

    --product-detail-discount-badge-color: red;
    --product-detail-review-comment-color: #555;
    --product-detail-review-date-color: #7f8c8d;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
}